.max-height {
  min-height: 100vh;
}
:root {
  --lightBlue: #86bbd8;
  --darkBlue: #336699;
  --mainWhite: #f5f5f5;
  --mainDark: #7c7878;
  --mainRed:#fa0707;
}

body {
  background: var(--mainRed);
  
  margin: 0 auto;
  padding: 2rem 2rem 2rem 20rem;
  
}

h5 {
  color: var(--mainDark)
}
.card-title {
  background: var(--mainRed);
  border-top-right-radius: 0.5rem;
  border-top-left-radius: 0.5rem;
  color: var(--mainWhite);
}
.card {
  border: none !important;
  border-radius: 0.5rem !important;
  -webkit-box-shadow: 10px 10px 91px 25px rgba(0,0,0,0.88);
-moz-box-shadow: 10px 10px 91px 25px rgba(0,0,0,0.88);
box-shadow: 10px 10px 91px 25px rgba(0,0,0,0.88);
}

.bill-icon,
.user-icon {
  background: var(--mainRed) !important;
  color: var(--mainWhite);
}
.submitBtn {
  background: var(--mainRed);
  font-size: 1.2rem;
  color: var(--mainWhite);
}

.submitBtn:hover {
  -webkit-box-shadow: 2px 15px 7px -7px rgba(0,0,0,0.88);
  -moz-box-shadow: 2px 15px 7px -7px rgba(0,0,0,0.88);
  box-shadow: 2px 15px 7px -7px rgba(0,0,0,0.88);
  color: var(--mainDark);
}
/* feedback */
.feedback {
  display: none;
}
.loader {
  display: none;
}

.results {
  display: none;
}

.showItem {
  display: block;
}
